.tablero{
    background-color: rgb(140, 125, 125);
}

.cuadro{
    border: 2px solid black;
}

.celda{
    height: 4rem;
    font-size: 30px;
    text-align: center;
    color: rgb(67, 67, 67);
}
.numero-repetido{
    color: red;
}
.fija{
    color: black;
}
.lbl-win h1{
    font-size: 50px;
    text-align: center;
}

