.tablero{
    background-color: red;
}

.cuadro{
    border: 2px solid black;
}

.celda{
    height: 4rem;
    font-size: 30px;
    text-align: center;
    color: rgb(155, 155, 155);
}
.numeroRepetido{
    color: red;
}
.fija{
    color: black;
}

